<nav class="navbar">
    <div class="container-fluid px-5">
        <a href="/" class="navbar-brand">
            <h3>App :: Cookies</h3>
        </a>
        <div class="d-flex">
            <a href="/getCookies" class="btn bg-primary">
                <i class="bi bi-list-task"> Get Cookies</i>
            </a>
        </div>
        <div class="d-flex">
            <a href="/timeCookies" class="btn bg-danger">
                <i class="bi bi-list-task"> Time Cookies</i>
            </a>
        </div>
        <div class="d-flex">
            <a href="/deleteCookies" class="btn bg-danger">
                <i class="bi bi-list-task"> Delete Cookies</i>
            </a>
        </div>
    </div>
</nav>